header {
    background-color: #BF94E8;
    display: flex;
    align-items: center;
}

.nav {
    width: 90%;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid black;
}
.username {
    font-size: 24px;
    

}

.button {
    margin: auto 20px;
    width: 100px;
    font-size: 24px;
    border-radius: 15px;
    background-color: #9052ca;

}